einops==0.8.1
flax==0.12.2
jax==0.8.2
matplotlib==3.10.8
moviepy==2.2.1
numpy==2.4.1
opencv_python==4.12.0.88
optax==0.2.6
orbax==0.1.9
paddle==1.2.1
paddleocr==3.3.2
pandas==2.3.3
Pillow==12.1.0
proglog==0.1.12
PyYAML==6.0.3
redis==7.1.0
scikit_learn==1.8.0
scipy==1.17.0
segment_anything==1.0
tensorboardX==2.6.4
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
ultralytics==8.3.252
wandb==0.23.1
